@import url('//db.onlinewebfonts.com/c/56e51b15f9bcb363331159989c474c45?family=TradeGothicforNike365-BdCn');

.nav-title {
    font-size: 200%;
    /* font-weight: 200; */
    display: inline-block;
    color: rgb(243, 242, 242);
    /* padding-left: 35%; */
    font-family: 'Futura-CondensedMedium';
    margin: 0;
}

.nav {
  overflow: hidden;
  background-image:
    linear-gradient(
      to right, 
      rgb(0, 12, 174),blue, red, #f0b906
    );
  /* text-align: center; */
  padding: 10px;
  margin: 0px;
  box-shadow: -3px 3px 10px black;
}

.nav-link {
  float: left;
  color: rgb(223, 223, 223);
  background-color: #00acb0;
  text-align: center;
  padding: 30px 5px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
}